.dialog-displayed, .menu-displayed, .notifications-displayed {
  overflow-y: hidden;
  height: 100%;

  &, > body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* iOS position:fixed; elements fix (not 100%) */
    min-height: 100%;
  }
}

xv-dialog {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 500;
  -webkit-overflow-scrolling: touch;

  &.closing {
    overflow: hidden;
  }

  > div {
    display: table;
    width: 100%;
    height: 100%; //ios fix
    transition: transform 0.5s ease;

    html.ios & {
      height: 101%; //ios fix
    }

    > div {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: auto;
      vertical-align: middle;
      display: table-cell;
      text-align: center;
      > div {
        margin: auto;
        background: #FFF url(../img/backgrounds/modal-white-bg.png) no-repeat right top;
        display: inline-block;
        text-align: left;
        max-width: 100vw;
        min-height: 100px;
        min-width: 100px;
        position: relative;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        &.animate {
          transition: all 0.5s;
        }

        .user-avatar-lg-img {
          max-width: 80vw;
          max-height: 80vh;
        }

        > a {
          color: #FFF;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 25px;
          height: 25px;
          background: $main-color2;
          text-align: center;
          z-index: 10;
          > i {
            &:before {
              line-height: 25px !important;
            }
          }
        }

        > header {

        }

        > section {
          border: 1px solid $border-color;
          border-left: 0;
          border-right: 0;

        }

        > footer {

        }
      }
    }
  }

  &.remove-animation {
    opacity: 0 !important;
    > div {
      transform: translate3d(0.01px, -100%, 0.01px);
      > div {
        overflow: hidden;
      }
    }
  }

  &.show-animation {
    opacity: 1;
  }

  &.raw-mode {
    > div {
      > div {
        > div {
          padding: 0;

          > section {
            border: 0;
          }
        }
      }
    }
  }
}
